# Prerequisites
*.d

#Folders
.vscode/

#Mac specific
**/.DS_Store
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.dll.sig

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.hex